
<div class="row">
    <div class="col-6 col-md-3 home-menu-card">
        <div class="row d-flex justify-content-center pb-3">
            <div class="col-12 col-md-12 img-teste">
            </div>
        </div>
        <span>Motorhome</span>
    </div>
    <div class="col-6 col-md-3 home-menu-card">
        <div class="row d-flex justify-content-center pb-3">
            <div class="col-12 col-md-12 img-teste">
            </div>
        </div>
        <span>Lugares</span>
    </div>
    <div class="col-6 col-md-3 home-menu-card">
        <div class="row d-flex justify-content-center pb-3">
            <div class="col-12 col-md-12 img-teste">
            </div>
        </div>
        <span>Griggia Maria e Romeo</span>
    </div>
    <div class="col-6 col-md-3 home-menu-card">
        <div class="row d-flex justify-content-center pb-3">
            <div class="col-12 col-md-12 img-teste">
            </div>
        </div>
        <span>Projetos Sociais</span>
    </div>
</div>
