.img-teste{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: var(--color-margin-component) 1px solid;
    margin: 0 5px;
    align-items: center;
}

.home-menu-card{
  margin-top: 50px;
  text-align: center;
}
