<app-template>
  <section id="aboutStart" class="bloco">
    <div class="row">
      <div class="col-sm-6 column-text">
        <h2>Um pouco da nossa história</h2>
        <p>Nos conhecemos a 18 anos ... mas nossa historia juntas começou em 2019/2020, somos brasileiras e moramos na Itália a mais de 3 anos temos vários sonhos em comum, e um deles é viver viajando pelo mundo.</p>
        <p>O primeiro passo que teremos que dar é deixarmos nossos trabalhos corporativos para nos transformar em nômades digitais.</p>
        <p>Somos mamães de 4 patas, Griggia Maria e Romeo. Dois bulldog franceses que nos acompanham fielmente em tudo que fazemos</p>
      </div>
      <!-- <div class="col-sm-6 column-image">
        <div class="row">
          <img class="aboutStart" src="../../../../assets/img/aboutStart.jpg" alt="aboutStart">
          <img class="aboutGm" src="../../../../assets/img/aboutGm.jpg" alt="aboutGm">
        </div>
        <div class="row">
          <img class="aboutSofhie" src="../../../../assets/img/aboutSofhie.jpg" alt="aboutSofhie">
          <img class="aboutBoo" src="../../../../assets/img/aboutBoo.jpg" alt="aboutBoo">
        </div>
      </div> -->
    </div>
  </section>
</app-template>
