<!-- Gridder navigation -->
<ul class="gridder row">

  <!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
  <!-- <li *ngFor="let post of conteudo" id="img-grd-{{post.idPostagem}}" class="gridder-list col-sm-3 cards-principais" data-griddercontent="{{post.idPostagem}}"> -->
    <!-- <img src="../../../../{{post.imagem}}" style="max-width: 200px;"/> -->
      <!-- <div class="card">
          <img src="../../../../{{post.imagem}}" alt="{{post.titulo}}" style="width:100%">
          <div class="container">
            <h4><b>{{post.titulo}}</b></h4>
            <p>{{post.subtitulo}}</p>
          </div>
      </div>
  </li> -->
</ul>

<!-- Gridder content -->
<!-- <div *ngFor="let post of conteudo" id="content{{post.idPostagem}}" class="gridder-content">
  <img src="../../../../{{post.imagem}}" style="max-width: 200px;"/>
</div> -->
