<div class="rt-footer container-fluid">
    <div class="row h-100 font-detail">
        <div class="col-4 col-md-4 col-lg-4 d-flex align-items-center">
            <div class="img-round"></div>
            <span>contato@gmr</span>
        </div>
        <div class="col-4 col-md-4 col-lg-4 d-flex align-items-end justify-content-center">
            <span>copyright@gmr</span>
        </div>
        <div class="col-4 col-md-4 col-lg-4 d-flex align-items-center justify-content-end">
            <span>Nossas redes sociais</span>
            <div class="img-round"></div>
            <div class="img-round"></div>
        </div>
    </div>
</div>
